/* src/components/AdminDashboard.css */

.admin-dashboard {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 80%;
  margin: 50px auto;
}

.sidebar {
  width: 20%;
  background-color: #fff;
}
.sidebar ul {
  list-style: none;
}
.sidebar li {
  padding: 0.75rem;
  cursor: pointer;
}
.sidebar li.active {
  color: var(--primary-color);
  font-weight: bold;
}

.main-content {
  width: 79%;
  padding: 10px 20px;
}

.symptom-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 25px;
}

.symptom-btn {
  width: fit-content;
  margin: auto 0;
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  background: transparent;
  color: var(--tertiary-color);
  cursor: pointer;
  transition: border-color 0.3s;
}
.symptom-btn:hover {
  background-color: transparent;
  border-color: var(--primary-color);
}
.symptom-btn.selected {
  border-color: var(--primary-color);
  background: rgba(22, 102, 53, 0.1);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-block: 50px;
}
.pagination-button {
  margin: auto 10px;
}

.detail-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.admin-dashboard-card {
  width: 49%;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 5px 20px;
  margin-bottom: 1rem;
  
}
ol {
  width: 100%;
}

#maladies-liee-card{
  width: fit-content;

  li {
  list-style: none;
  }
}
#questions-card{
  width: 75%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.add-btn {
  padding: 0.5rem 1rem;
  background: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.admin-dashboard-card li{
  margin-block-end: 5px;
  margin-inline-start: 10px;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

ol{
  position: relative;
}
ol li{
  margin-block: 10px;
}
.edit-btn{
  position: absolute;
  right: 0;
  margin-right: 10px;
}
.delete-btn {
  margin-left: 0.5rem;
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: red;
  color: #fff;
}

.symptom-grid .add-btn {
  margin-inline-end: 0;
}

#disease-info-card {
  width: 60%;

  textarea {
    padding: 5px 10px;
    border-radius: 5px;
    background: rgba(22, 102, 53, 0.1);
    color: var(--tertiary-color);
    font-family: "Poppins", Arial, sans-serif;
  }
}

#disease-symptoms-card {
  width: 38%;
}

.edit-container {
  width: 100%;
}
#edits {
  width: 100%;
}
.edit-datas{
  display: flex;
  justify-content: end;
  margin-block: 10px;
}
.edit-datas button {
  margin-inline: 5px;
}
.edits-option-container {
  display: block;
}
.edit-option {
  display: flex;
  margin-block: 10px;
}
.edit-option  button{
  margin-inline-end: 0;
}

.edit-score {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}