.home {
  width: 80%;
  margin: 0 auto;
  padding: 60px 5% 40px;
  background-color: #f7f7f7;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  width: 80%;
  margin: 0 auto 20px;
  line-height: 1.4;
}

.hero .highlight {
  color: var(--accent-color);
}

.hero p {
  font-size: 1rem;
  color: #444;
  max-width: 600px;
  margin: 0 auto 40px;
  font-weight: 500;
}

.features {
    width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 20px 0;
}

.feature-card {
  width: 20%;
  position: relative;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  display: flex;
  align-items: center;
  transition: transform 0.2s;
}

.feature-card:hover {
  transform: translateY(-4px);
}

.feature-card img {
    z-index: 1;
    position: relative;
  width: 100%;
  margin-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.feature-card .btn {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #0a7f3b;
  color: white;
  padding: 15px 18px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.feature-card .btn:hover {
  background-color: var(--accent-color);
}

.arrow-icon{
    width: 10% !important;
    margin: 0 !important;
}
